@import (reference) url('./global/colors.less');
@import (reference) url('./global/mixins.less');

html {
  font-size: 62.5%;
}

body {
  background: @bg-dark;
  background: linear-gradient(to bottom, @bg-dark 0%,@bg-medium 28%,@bg-light 100%);
  color: @font-light;
  font-weight: 400;
  font-family: 'Fira Sans', 'Geneva', sans-serif;
  line-height: 1.4;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrap {
  background-color: #212121;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 14%,
      rgba(0, 0, 0, .38) 29%,
      rgba(0, 0, 0, .45) 32%,
      rgba(44, 44, 44, .65) 100%
  );
  background-size: 100vw auto;
  padding: 5%;
}

@media (min-width: 600px) {
  .wrap {
    background: url('/images/cover.jpg') no-repeat;
    background-image: linear-gradient(
      to bottom,
      rgba(6, 6, 6, .2) 0%,
      rgba(6, 6, 6, .5) 92%,
      rgba(6, 6, 6, 1) 100%
    ),
    url('/images/cover.jpg');
    background-size: 100vw auto;
  }
}